#main {
  width: 960px;
  margin: 30px auto 60px;
  text-align: center;
  color: #666;
}

.article {
  padding: 60px 0 70px;
}
.article ~ .article {
  border-top: 1px solid #CCC;
}

.article-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.promoter img {
  float: left;
}
.promoter .cont {
  width: 560px;
  margin: 0 auto;
  line-height: 20px;
}
.promoter .cont .intro {
  padding-top: 80px;
  width: 300px;
  float: right;
  text-align: left;
}
.promoter .cont::after {
  content: "";
  display: block;
  clear: both;
}

.cont {
  line-height: 30px;
}
