#main {
  width: 960px;
  margin: 40px auto 0;
  color: #727171;
}

.note {
  text-align: center;
  font-size: 22px;
  color: #333;
}

.warn {
  display: inline-block;
  color: #57402F;
  padding-left: 245px;
  margin: 30px 0 40px;
  line-height: 25px;
}

.menu {
  font-size: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
  background: #E4E4E4;
  height: 30px;
  line-height: 30px;
  color: #9E948B;
  font-size: 16px;
  padding: 0 22px;
  text-align: center;
  cursor: pointer;
}
.menu li ~ li {
  margin-left: 3px;
}
.menu li.even {
  background: #F3F3F1;
}
.menu li:hover {
  color: #C2B16B;
}
.menu ~ .menu {
  margin-top: 3px;
}

#main {
  color: #57402F;
}
#main .BookBlock {
  margin-top: 40px;
}
#main .BookBlock .type {
  font-size: 22px;
  color: #333;
  text-align: center;
  margin-top: 110px;
  margin-left: 36px;
}
#main .BookBlock .type-list {
  text-align: left;
  margin-left: 138px;
  margin-top: 50px;
}
#main .BookBlock .type-list li {
  margin-bottom: 7px;
}
#main .BookBlock .type-list li .name {
  display: inline-block;
  min-width: 120px;
}
#main .BookBlock .type-list.toMach {
  margin-top: 30px;
}
#main .BookBlock .type-list.toMach li {
  margin-bottom: 3px;
}
#main .BookBlock .type-list .remark {
  font-size: 14px;
  margin-top: -10px;
}
#main .BookBlock .service-fee {
  position: absolute;
  top: 700px;
  left: 35px;
  right: 0;
  margin: 0 auto;
}
#main .BookBlock .bb-item-right .type {
  margin-left: -36px;
}
#main .BookBlock .bb-item-right .type-list {
  margin-left: 100px;
}
#main .BookBlock .bb-item-right .service-fee {
  left: -35px;
}

.slider-gallery {
  width: 960px;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 0;
}
.slider-gallery .slider-gallery-Content {
  position: relative;
  height: 640px;
}
.slider-gallery .slider-gallery-Content li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 1s;
}
.slider-gallery .slider-gallery-Content li img {
  width: 100%;
}
.slider-gallery .slider-gallery-Content .active-slide {
  opacity: 1;
}
.slider-gallery .images-Content {
  margin-top: 15px;
  margin-right: -10px;
}
.slider-gallery .images-Content li {
  float: left;
  width: 98px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 1s;
  padding: 2px;
}
.slider-gallery .images-Content li img {
  width: 100%;
  opacity: 0.5;
}
.slider-gallery .images-Content .active-slide {
  background: #B2A252;
}
.slider-gallery .images-Content .active-slide img {
  opacity: 1;
}
